---
---

$header-bg-color: #52a367;
$header-bg-color-secondary: #000a04;

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.page-header {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Cinzel", Arial, Helvetica, serif;
    }
}

.page-header h1 { 
    text-transform: uppercase;
}

.page-header h1::first-letter {
    font-size: 150%;
}

.project-name {
  @include large {
    font-size: 3.5rem;
  }
  @include medium {
    font-size: 2.5rem;
  }
  @include small {
    font-size: 2rem;
  }
}

.project-tagline {
  @include large {
    font-size: 1.5rem;
  }
  @include medium {
    font-size: 1.4rem;
  }
  @include small {
    font-size: 1.3rem;
  }
}

.main-content {
    @include large {
        padding: 2rem 2rem;
        font-size: 1rem;
    }
    @include medium {
        padding: 2rem 2rem;
        font-size: 1rem;
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    h1, h2, h3, h4, h5, h6 {
        font-family: "Hepta Slab", Arial, Helvetica, serif;
    }
}

pre {
  padding: 10px 5px; 
}

.MJXc-display{
    margin: 2em 0 !important;
}
