---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

header {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Alex Brush", Arial, Helvetica, Arial, serif;    
    }
}
    
    

#main-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Hepta Slab", Arial, Helvetica, serif;
    }
}

pre {
  padding: 10px 5px; 
}

pre code {
  background-color: transparent; 
}
