---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');

header {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Cinzel", Arial, Helvetica, serif;
    }
}
header h1 { 
    text-transform: uppercase;
}

header h1::first-letter {
    font-size: 150%;
    font-family: "Euphoria Script", Arial, Helvetica, serif;
}
    

#main-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Hepta Slab", Arial, Helvetica, serif;
    }
}

pre {
  padding: 10px 5px; 
}

pre code {
  background-color: transparent; 
}
